# Applied Data Science Capstone Project

#### This Notebook will be used for the Capstone Project for Applied Data Science

In [6]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#### Scraping Data from Wikipedia

In [12]:
from bs4 import BeautifulSoup
import requests

source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find('table')
# Get Column Names
headers = table.tr.text
column_names = headers.split('\n')
data = []
for values in table.find_all('tr'):
    rows = values.text.split('\n')
    data.append(rows)
print(column_names)

['', 'Postal code', '', 'Borough', '', 'Neighborhood', '']

##### Putting data to a Data Frame

In [47]:
column_names = neigh_df.index[0]
neigh_df = pd.DataFrame(data)
neigh_df.columns = neigh_df.iloc[0]
neigh_df.drop(neigh_df.index[0],axis = 0, inplace =True)
neigh_df.head()

,,Postal code,,Borough,,Neighborhood,,NaN,NaN
1,,M1A,,Not assigned,,,,None,None
2,,M2A,,Not assigned,,,,None,None
3,,M3A,,North York,,Parkwoods,,None,None
4,,M4A,,North York,,Victoria Village,,None,None
5,,M5A,,Downtown Toronto,,Regent Park / Harbourfront,,None,None

##### Cleaning the Data Frame

In [48]:
neigh_df.columns

Index(['', 'Postal code', '', 'Borough', '', 'Neighborhood', '', None, None], dtype='object', name=0)

In [49]:
neigh_df.drop(['','','','',None,None], axis=1, inplace = True)
neigh_df.head()

0 Postal code           Borough                Neighborhood
1         M1A      Not assigned
2         M2A      Not assigned
3         M3A        North York                   Parkwoods
4         M4A        North York            Victoria Village
5         M5A  Downtown Toronto  Regent Park / Harbourfront

##### Removing not needed Values and reformatting data

In [115]:
neigh_df_cleansed = neigh_df[neigh_df.Borough != 'Not assigned']
neigh_df_cleansed['Neighborhood'] =  neigh_df_cleansed['Neighborhood'].str.replace("/",",")
neigh_df_cleansed.reset_index(inplace=True)
neigh_df_cleansed.drop('index',axis=1, inplace = True)
neigh_df_cleansed.tail(10)

C:\Users\John Wincel Marino\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Postal code,Borough,Neighborhood
93,M8W,Etobicoke,"Alderwood , Long Branch"
94,M9W,Etobicoke,Northwest
95,M1X,Scarborough,Upper Rouge
96,M4X,Downtown Toronto,"St. James Town , Cabbagetown"
97,M5X,Downtown Toronto,"First Canadian Place , Underground city"
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."